/* Icon Button Styles */
.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border: 1px solid transparent;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-icon-primary {
    color: #6b7280;
    /* gray-500 */
}

.btn-icon-primary:hover {
    color: #0B508C;
    /* primary */
    background-color: #eff6ff;
    /* blue-50 */
    border-color: #0B508C;
    /* primary */
}

.btn-icon-danger {
    color: #ef4444;
    /* red-500 */
}

.btn-icon-danger:hover {
    color: #b91c1c;
    /* red-700 */
    background-color: #fef2f2;
    /* red-50 */
    border-color: #ef4444;
    /* red-500 */
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Global Styles */
* {
    border-radius: 0 !important;
}

/* Responsive Font Size */
@media (max-width: 640px) {
    html {
        font-size: 14px;
    }
}